body
{
	background-color:#FFF799;
	font-family: sans-serif;
}

.logo
{
	float:right;
	width:8%;
}

h1
{
	text-align: center;
	font-size: 30pt;
}

nav 
{
	background-color: #DDFFFF;
}

a 
{
	color: #0055AA;
}

a:hover 
{
	color: black;
}

div#favori
{
	font-size:25pt;
	height:40px;
	color:black;
	margin-left:70%
}

div#entree
{
	font-size: 25pt;
	color:black;
	height:40px;
	overflow:hidden;
	position:absolute;
}

div#plat_principal
{
	font-size:25pt;
	margin-left:20%;
	color:black;
	height: 40px;
	overflow: hidden;
	position: absolute;
}

div#dessert 
{
	font-size: 25pt;
	left: 50%;
	color:black;
	height:40px;
	overflow: hidden;
	position:absolute;
}

div#entree:hover
{
	height:initial;
}

div#plat_principal:hover 
{
	height: initial;
}

div#dessert:hover
{
	height: initial;
}
ul
{
	font-size:20pt;
	color:black;
	
}

form#rechercher
{
	position: absolute;
	right:0px;
}

span#commentaire
{
	display:block;
	float:right;
	margin-top:5%
}

h2
{
	color: #0055AA;
	font-size:350%;
  text-align:center;
	margin-top:15%
}

h3
{
	color: #0055AA;
	font-size:300%;
	text-align: center;
}

p{
	font-size:40px
}

.titre
{
	font-size:20px;
}

p#text
{
	font-size:20px;
}

td#milieu
{
	position:absolute;
	left:35%;
}

td#droite
{
	position:absolute;
	left:70%;
}

@media (orientation:portrait){
	div#entree
	{
	  font-size:15px;	
	}
	div#plat_principal
	{
		font-size:15px;
	}
	div#dessert
	{
		font-size:15px;
	}
	div#favori
	{
		font-size:15px;
	}
	p
	{
		font-size:15px;
	}
	p#text
	{
		font-size:15px;
	}
	img
	{
		width:70px;
	}
	.titre
	{
		font-size:10px;
	}
	p#text
	{
		font-size:10px;
	}
	form#rechercher
	{
		display:none;
	}
	li
	{
		display:'none;
	}
}
