h1
{
	background-color: #D65CFF;
	text-align: center;
	font-size: 30pt;
	
}

div
{
	font-size:20pt;
	color:blue;
}

ul
{
	font-size:20pt;
	color:blue;
li
{
	diplay=none;
}	
	
}
body
{
	background-color: pink;
}