h1
{
	text-align: center;
	font-size: 60pt;	
}

.titre
{
	margin-top:100px;
	text-align:center;
	font-size:60px;
}
p
{
	text-align:center;
	font-size:50px;
}

ul
{
	margin-top:60px;
	font-size:20pt;
	clear:both;
}
.img
{
	margin-left:30px;
	width:30%;
	float:left;
}
span
{
	font-size:30pt;
	display:block;
	text-align:center;
}

body
{
	background-color: #FFF799;
}

span a
{
	margin: 15px
}

@media (orientation:portrait)
{
	h1
	{
		font-size:40px;
	}
	span
	{
		font-size:15px;
	}
	.titre
	{
		font-size:20px;
	}
	p
	{
		font-size:15px;
	}
}