body {
	font-family: sans-serif;
}

div#commentaire
{
	text-align:center;
	font-size:150%;
}
p#blabla
{
	text-align:left;
}

h1
{
	text-align: center;
	font-size: 60pt;	
}

span {
	background-color: #DDFFFF;
}
a {
	color: #0055AA;
}
a:hover {
	color: black;
}

.titre
{
	margin-top:100px;
	text-align:center;
	font-size:60px;
}

p
{
	text-align:center;
	font-size:50px;
}

span#envoyer
{
	display:block;
	background-color:#FFF799;
}
ul
{
	margin-top:60px;
	font-size:20pt;
	clear:both;
}
.img
{
	margin-left:30px;
	width:30%;
	float:left;
}
span
{
	font-size:30pt;
	display:block;
	text-align:center;
}
span#commentaire
{
	display:block;
	float:right;
	background-color:#FFF799;
}

body
{
	background-color: #FFF799;
}

span a
{
	margin: 15px
}

@media (orientation:portrait)
{
	h1
	{
		font-size:40px;
	}
	span
	{
		font-size:15px;
	}
	.titre
	{
		font-size:20px;
	}
	p
	{
		font-size:15px;
	}
	ul
	{
		font-size:20px;
	}
}